.login-form
  width 300px
  margin 20vh auto
  .line
    display flex
    padding 10px 20px
    align-items center
    font-size 16px
    box-sizing border-box
    label
      width 60px
    input
      width 176px
      height 30px
      padding-left 8px
      outline none
      border-radius 5px
      border 1px solid #999
    .captcha
      width 70px
    img
      margin-left 5px
      width 100px
      height 30px
      border-radius 5px
.btn
  display flex
  flex 1
  align-items center
  justify-content center
  height 40px
  letter-spacing 4px
  color #fff
  border-radius 4px
  background-color green
.mt-20px
  margin-top 20px
